body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(-45deg, rgb(226, 25, 86), rgb(74, 199, 126));


    .input-container{
        width: 60%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
}

#root{
    height: 100vh;
    width: 100%;

    margin: 0;
    padding: 0;
}